/*---COLOUR pallete------------------------------------------

#e3f2fd blue lighten-5
#bbdefb blue lighten-4
#90caf9 blue lighten-3
#64b5f6 blue lighten-2
#42a5f5 blue lighten-1
#2196f3 blue
#1e88e5 blue darken-1
#1976d2 blue darken-2
#1565c0 blue darken-3
#0d47a1 blue darken-4
#82b1ff blue accent-1
#448aff blue accent-2
#2979ff blue accent-3
#2962ff blue accent-4
--I really want to use Sass :((
*/


/*---GlOBAL variables------------------------------------------*/

.seperator {
    margin: 20px;
}

body {
    background-color: #E0E0E0;
    padding: 0;
    margin: 0;
}

.material {
    /* that fancy shadow around divs in material design */
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    padding-bottom: 2px;
}


/*---NAVIGATION variables------------------------------------------*/

nav {
    padding: 0px;
    margin: 0px;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.nav-wrapper li {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: #82b1ff;
    color: white;
    font-size: 21px;
    border-bottom: solid 1px #2979ff;
}

a {
    /*---Makes entire li element clickable */
    display: inline-block;
    padding: 10px 0px 10px 0px;
    width: 100%;
    text-decoration: none;
    color: white;
}

#active {
    /*css for active button*/
    background-color: #42a5f5;
}


/*---PAGE variables------------------------------------------*/

.space {
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100%;
    min-width: 100% padding-left: 0em;
    padding-right: 0em;
    margin-top: 0vh;
}

.content_inner {
    /*left side menu css*/
    max-width: 25%;
    padding: 0px;
    min-width: 400px;
    margin: 1em;
}

.content_outer {
    /*right side page css*/
    max-width: 40%;
    padding: 0px;
    min-width: 400px;
    margin: 1em;
}

.content_outer div {
    background: #FFFFFF;
}

.content_subdiv {
    /*left side menu css*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    background-color: #42a5f5;
    padding: 0px;
    margin: 0px;
}

.subdiv {
    /*left side menu css*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    background-color: #42a5f5;
    padding: 0px;
}
.subdiv div{
  border-bottom: solid 1px #9E9E9E;
}

.alignleft {
    /*segment titles css*/
    justify-content: flex-start;
    align-content: space-around;
    padding-left: 20px;
    padding-top: 20px;
}
.alignleft_subheading {
    /*segment titles css*/
    justify-content: flex-start;
    align-content: space-around;
}

.subdiv div {
    background-color: #42a5f5
}

#limiter {
    padding-left: 7.25em;
    padding-right: 3em;
}
.borderflex{
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-direction: column;
}


/*---FOOTER variables------------------------------------------*/

/*---TEXT variables------------------------------------------*/
h1{
  font-size: 20px;
  padding: 0px;
  text-align: left;
}

h3{
  font-size: 14px;
  padding: 0px;
  text-align: left;
}
.content_inner p {
    /*left side page text css*/
    border-bottom: solid 1px #2979ff;
    color: #e3f2fd;
    text-align: right;
}

#borderless {
    border-bottom: none;
}

.content_subdiv p {
    /*right side page text css*/
    border-bottom: solid 1px #9E9E9E;
    color: #757575;
    text-align: left;
    max-width: 100%;
}

.content_subdiv h1 {
    /*heading css*/
    color: #515151;
    text-align: left;
    max-width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.content_subdiv h3 {
    /*sub-heading css*/
    color: #2979ff;
    text-align: left;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: auto;
    padding: 15px;
    max-width: 100%;
    min-width: 30%;
    font-family: 'Roboto', sans-serif;
}


}
h2 {
    font-family: 'Roboto', sans-serif;
    color: #e3f2fd;
}
li {
    list-style: none;
}
.blue_background {
    background-color: #42a5f5
}
.subdiv h2 {
    /*title css*/

    font-family: 'Roboto', sans-serif;
    color: #757575;
}
.subdiv p {
    /*css for text on left part of page*/

    width: 100%;
    text-align: left;
    padding: 25px;
}
.content_subdiv p {
    /*css for text on right side of page*/

    width: 100%;
    text-align: left;
    padding: 0px 0px 20px 0px;
}
.content_outer p{
  color: #black;
  text-align: left;
}
/*---IMAGE variables------------------------------------------*/
.logo {
    height: 60px;
    width: 60px;
}
.cover {
    max-width: 100%;
    max-height: 100%;
}
.subdiv img {
    max-width: 48px;
    max-height: 48px;
    align-self: center;
    padding-left: 15px;
    filter: invert(1);
}
.content_outer img {
    filter: invert(40%);
    padding-right: 30px;
}

.interests{
  justify-content: space-around;
  flex: 1;
  align-items: center;
  align-self: center;
  margin: auto;
}

.interests img{
  max-width: 48px;
  max-height: 48px;
  padding: 24px;
}

/*---BARS css---------------------------------*/
.barscontainer {
    padding: 0px;
    max-width: 350px;
    min-width: 150px;
    margin: 0 auto;
}
.progressBar {
    margin-bottom: 1em;
}
.progressBar h4 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7px;
    color: white;
}
.progressBarContainer {
    width: 100%;
    max-width: 350px;
    height: 5px;
    background: #bbdefb;
    overflow: hidden;
    border-radius: 5px;
}
.progressBarValue {
    height: 1em;
    float: left;
    background: #0d47a1;
}
.value-00 {
    width: 0;
}
.value-10 {
    width: 10%;
}
.value-20 {
    width: 20%;
}
.value-30 {
    width: 30%;
}
.value-40 {
    width: 40%;
}
.value-50 {
    width: 50%;
}
.value-60 {
    width: 60%;
}
.value-70 {
    width: 70%;
}
.value-80 {
    width: 80%;
}
.value-90 {
    width: 90%;
}
.value-100 {
    width: 100%;
}

/*--------Animations-----------------------*/

/* Sweep To Right -hover.css */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #42a5f5;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
