/*Contents:
1-Colour pallete                -12
2-Global css                    -30
3-Navigation css                -62
4-Left part of page css         -105
5-Right part of page css        -214
6-Global text css               -301
7-Images css                    -337
8-Animations css                -384
9-Media querries                -431
10-Forms css                    -448
-1--COLOUR pallete------------------------------------------

#e3f2fd blue lighten-5
#bbdefb blue lighten-4
#90caf9 blue lighten-3
#64b5f6 blue lighten-2
#42a5f5 blue lighten-1
#2196f3 blue
#1e88e5 blue darken-1
#1976d2 blue darken-2
#1565c0 blue darken-3
#0d47a1 blue darken-4
#82b1ff blue accent-1
#448aff blue accent-2
#2979ff blue accent-3
#2962ff blue accent-4
--I really want to use Sass :((

---2--GlOBAL css------------------------------------------*/

body {
    background-color: #E0E0E0;
    padding: 0;
    margin: 0;
}

.content {
    /*-Main container*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
}

.material {
    /* that fancy shadow around divs in material design */
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 0px;
    margin-bottom: 20px;
}

#borderless {
    /*-CSS for removing border global rule on P elements if required */
    border-bottom: none;
}


/*-3--NAVIGATION css------------------------------------------*/

nav {
    padding: 0px;
    margin: 0px;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.nav-wrapper li {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    background-color: #82b1ff;
    color: white;
    font-size: 1.3em;
    border-bottom: solid 1px #2979ff;
}

.nav-wrapper a {
    /*---Makes entire li element clickable */
    display: inline-block;
    padding: 10px 0px 10px 0px;
    width: 100%;
    text-decoration: none;
    color: white;
}

#active {
    /*css for active button*/
    background-color: #42a5f5;
}


/*-4--LEFT part of PAGE css------------------------------------------*/

.content_inner {
    /*left side menu css*/
    max-width: 25%;
    padding: 0px;
    min-width: 25em;
    margin: 1em;
    background-color: #42a5f5
}

.content_subdiv {
    /*left side menu css*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    background-color: #42a5f5;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}

.subdiv {
    /*left side menu css*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    background-color: #42a5f5;
    padding: 0px;
    max-width: 100%;
}

.subdiv div {
    /*all divs nested within subdiv class get their very own border! */
    border-bottom: solid 1px #9E9E9E;
}

.content_inner p {
    /*left side page text css*/
    border-bottom: solid 1px #2979ff;
    color: #e3f2fd;
    font-size: 18px;
    font-family: 'Noto', sans-serif;
}

/*----Bars css--------------------------------*/

.barscontainer {
    /* Main container for bars section on left part of page*/
    padding: 0px;
    max-width: 350px;
    min-width: 150px;
    margin: 0 auto;
}

.barscontainer h4 {
    /*css for h4 elements within barscontainer class*/
    font-size: 1.5em;
    font-family: 'Noto', sans-serif;
    margin-bottom: 7px;
    color: white;
}

.progressBarContainer {
    /*css for bar container*/
    width: 100%;
    max-width: 350px;
    height: 6px;
    background: #bbdefb;
    overflow: hidden;
    /*hides extra height if progressbarvalue isn't same value*/
    border-radius: 5px;
    margin-bottom: 1em;
}

.progressBarValue {
    /*css for bar applied to all values */
    height: 6px;
    background: #0d47a1;
}

/* css values for bar width, removed unused ones */

.value-30 {
    width: 30%;
}

.value-40 {
    width: 40%;
}

.value-70 {
    width: 70%;
}

.value-80 {
    width: 80%;
}

.value-90 {
    width: 90%;
}

.value-100 {
    width: 100%;
}

/*-5--RIGHT side of PAGE css----------------------------------------------*/

.content_outer {
    /*right side page container*/
    max-width: 40%;
    padding: 0px;
    min-width: 25em;
    margin: 1em;
}

.content_outer p {
    /*right side page container text css*/
    padding-left: 7.25em;
    padding-right: 3em;
    max-width: 100% border-bottom: solid 1px #9E9E9E;
    color: #757575;
    text-align: left;
    max-width: 100%;
}

.content_outer div {
    /*all divs nested in right side of page*/
    background: #FFFFFF;
    max-width: 100%;
}

.alignleft {
    /*segment titles css*/
    justify-content: flex-start;
    align-content: space-around;
    padding-left: 20px;
    padding-top: 20px;
}

.alignleft_subheading {
    /*subheading segment titles css*/
    justify-content: flex-start;
    align-content: space-around;
}

.subdiv div {
    /*-All divs within subdiv class get following background colour-*/
    background-color: #42a5f5
}

.content_subdiv p {
    /*css rule for all p elements nested within content_subdiv*/
    border-bottom: solid 1px #9E9E9E;
    color: #757575;
    text-align: left;
    max-width: 100%;
}

.traits li {
    /*-CSS for li elements within traits class*/
    color: #757575;
    text-align: left;
    max-width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content_subdiv h1 {
    /*heading css*/
    color: #515151;
    text-align: left;
    max-width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4em;
}

.content_subdiv h3 {
    /*sub-heading css*/
    color: #2979ff;
    text-align: left;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05em;
}

#limiter {
    /*-Sets padding for parent #limiter div */
    padding-left: 7.25em;
    padding-right: 3em;
    max-width: 100%
}

/*-6--global text css------------------------------------------*/

p {
    /*-global css for P elements */
    margin: auto;
    padding: 0px;
    max-width: 100%;
    min-width: 30%;
    font-family: 'Roboto', sans-serif;
}

li {
    /*removes bulletpoints applied by default */
    list-style: none;
}

.subdiv h2 {
    /*title css*/
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

.subdiv p {
    /*css for all p elements within subdiv class*/
    width: 100%;
    text-align: left;
    padding: 25px;
}

.content_subdiv p {
    /*css for text on right side of page*/
    width: 100%;
    text-align: left;
    padding: 0px 0px 20px 0px;
}

/*-7--IMAGES css------------------------------------------*/

.cover {
    /*banner images css*/
    max-width: 100%;
    max-height: 100%;
}

.subdiv img {
    /*all icons/images within subdiv class get these css rules applied */
    max-width: 48px;
    max-height: 48px;
    align-self: center;
    padding-left: 15px;
    filter: invert(1);
    /*inverts colours */
}

.content_outer img {
    /* css for all images on right part of page*/
    filter: invert(40%);
    padding-right: 30px;
}

.interests {
    /*wrapper for icons in interests div*/
    justify-content: space-around;
    margin: auto;
    padding-left: 7.25em;
    padding-right: 3em;
}

.interests img {
    /*css for all images within interests*/
    max-width: 48px;
    max-height: 48px;
    padding: 0px 48px 24px 0px;
}

#noformat {
    /*removes filter applied by content_outer class img rule*/
    max-width: 100%;
    max-height: 100%;
    filter: none;
    padding: 0;
}

/*-8-------CSS Animations-----------------------*/

/* Sweep To Right -taken from hover.css library */

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #42a5f5;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*-9--Media querries------------------------------------------------------*/

@media only screen and (max-width: 880px) {
    #noformat {
        /*Removes banners on mobile displays*/
        display: none;
    }
    #textform {
        /*Cuts height of contact form */
        height: 150px;
    }
    #button {
        /*positions buttons on text form in rows instead of collumns */
        width: 100%;
    }
}

/*-10------Forms css-----------------------*/

input[type=text] {
    /*Input  fields for mail & name css*/
    max-width: 100%;
    background-color: white;
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    /*Text area css*/
    max-width: 100%;
    background-color: white;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    resize: none;
    text-align: justify;
    height: 440px;
    font-size: 0.8em;
    padding: 0px;
    margin: 0px;
}

#button {
    /*Css for both buttons in contact form*/
    border: none;
    padding: 10px;
    margin: 0px 0px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 0.8em;
    border-radius: 2px;
}

input[type=button], input[type=submit] {
    /*css for submit buton*/
    background-color: #bbdefb;
    color: black;
    width: 79%;
}

input[type=reset] {
    /*css for reset button*/
    background-color: #0d47a1;
    color: white;
    width: 20%;
}

#contact_form {
    /*css for contact form*/
    background-color: #42a5f5;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: justify;
    max-width: 100%;
    font-size: 1.2em;
}

#contact_form_wrapper {
    /*contact form wrapper css*/
    padding-left: 7.25em;
    padding-right: 3em;
    background-color: #42a5f5;
    padding-bottom: 20px;
    color: white;
}

#contact_img {
    /*contact image css filter invert for icon*/
    filter: invert(1);
}
